#header {
  margin: 10px auto 10px auto;
  height: auto;
  width: 1050px;
  text-align: center;
}

#header video {
  position: absolute;
  background-size: cover;
  top: 0; left: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -1;
}

#block {
  position: relative;
  margin-top: 210px;
  width: auto;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  border-radius: 5px;
}

#header h1 {
  color: white;
  font-size: 160px;
  font-family: Langdon;
}

#header h4 {
  color: white;
  font-size: 18px;
  font-family: Langdon;
  line-height: 30px;
}

#header #byline {
  font-size: 18px;
  margin-top: 15px;
  color: #bdbdbd;
  font-family: Langdon;
}

#interactive {
  height: 515px;
  width: auto;
  margin: 5px auto 5px auto;
  text-align: center;
}

#interactive h3 {
  font-family: Langdon;
  font-size: 40px;
}

#interactive #crimeChart {
  margin: -15px auto 5px auto;
}

#event_box {
  width: 275px;
  height: 175px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: black;
  float: right;
  margin-top: 50px;
  margin-bottom: -200px;
  margin-right: 240px;
  overflow: scroll;
}

#event_box p {
  margin-top: 30px;
  font-family: Roboto;
  font-size: 25px;
  color: white;
}

#interactive_key {
  width: 150px;
  height: 30px;
  margin-top: -395px;
  margin-left: 625px;
  border: 1px solid black;
  padding: 7px;
}

#interactive #interactive_key #color_box {
  width: 15px;
  height: 15px;
  background-color: rgba(255,0,0,0.6);
}

#interactive #interactive_key p {
  font-family: Langdon;
  font-size: 16px;
  margin-top: -17px;
  margin-left: 5px;
}

#story_container {
  margin: 50px auto 10px auto;
  height: auto;
  width: 600px;
  text-align: left;
  margin-left: 300px;
}

#story_container p {
  margin-top: 28px;
  line-height: 27px;
  font-size: 18px;
  font-family: Roboto, sans-serif;
}

#story_container #drop {
  font-family: Langdon;
  color: red;
  font-size: 75px;
  float: left;
  line-height: 50px;
  padding: 4px 8px auto 3px;
}

.black_overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: 80%;
  filter: alpha(opacity = 80);
}

.box_content {
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  padding: 16px;
  border: 16px solid red;
  background-color: white;
  z-index: 1002;
  overflow: auto;
}

#midImages  {
  margin-left: -225px;
  margin-right: -450px;
  text-align: center;
}

#midImages p {
  margin-top: -5px;
  margin-left: -445px;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  color: gray;
}

.midImg {
  margin: 5px;
  width: 400px;
  height: auto;
  display: inline-block;
}

#video_story {
  margin-top: 60px;
  margin-bottom: 50px;
}

#video_story #vid_header {
  font-family: Langdon, sans-serif;
  margin-left: -100px;
}

#video_story h5 {
  font-size: 20px;
  color: gray;
}

#video_story h2 {
  margin-top: -3px;
  font-size: 50px;
}

#spotlight_Englewood {
  width: 1400px;
  height: auto;
}

.footer {
  position: relative;
  margin: 5px auto auto auto;
  padding-top: 22px;
  height: 60px;
  width: auto;
  text-align: center;
  background-color: black;
}

.footer p {
  color: white;
  font-family: Langdon;
}
